*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 9%;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* #Header */
header{
    background-color:#060327;
    height: 110px;
    width: 100%;
    border-bottom: solid rgb(66, 66, 66);
    margin: 0;
    position: fixed;
    top:0;
    z-index: 3;
}

header > nav{
    display: flex;
    align-items: center;

}

header > nav > ul{
    display: flex;
    width: 100%;
    justify-content: right;
}

header > nav > ul > li{
    list-style: none;
    margin-right: 3%;
}

header > nav > ul > li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 24px;
}

header > nav > ul > li a:hover{
    font-weight: bold;
}

.logo{
    max-height: 100px;
}

/* adding active class */

.active{
    text-decoration: underline;
    letter-spacing: 3px;
    font-weight: bold;
} 

/* background banner*/
#index  { 
    background-image:url(../images/Banner.jpg);
   height: 500px;
    background-size:cover;

}  

#indexwrapper{
    height: max-content; 


}
/* welcome message*/

#welcomeheading{
    text-align: center;
    text-decoration:underline;
    padding-bottom: 5px;
}
    
 
#welcometext{ 
    background-color: rgba(128, 0, 128, 0.5); 
    color:#fff ;
    margin-top:25px;
    font-family:sans-serif; 
   margin-bottom: 25px;
   border: 6px solid #5e3a97;    
padding-bottom: 5px; 
border-radius: 25px;
margin-left:75px;
margin-right: 75px;
text-align: center;
margin-bottom: 25px;
}













/* Footer */
footer{
    border-top: solid rgb(66, 66, 66);
    background-color: #060327;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0; 
    margin-top:20px;

}





.copyrights{
    color: white;
}


.FooterSectionOne{
    margin-top: 100px;
    width: 40%;
    margin-left: 5%;
    color: white;

}

.FooterSectionHead{
    margin-bottom: 10px;
    font-size: 45px;
}

.FooterSectionTwo{
    margin-top: 100px;
   background-color: #a07dec;
    margin: auto;
    animation: mymove1 5s infinite;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 6px solid #5e3a97;   
   
}
@keyframes mymove1 {
    50% {box-shadow: 10px 20px 30px rgb(152, 62, 255);} 
}

.FooterSectionWrap{
    margin-top: 695px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
} 





/* Carousel container styles */

#carousel-Wapper{
    align-content: center;
}

.carousel-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to right, rgb(7, 0, 105) , rgb(90, 67, 173) ,rgb(139, 115, 182) );
    padding-top: 50px
    padding-bottom: 50px; 
 border-radius: 45px;
margin-left: 360px;
    margin-bottom: 30px;
     border: 6px solid #2c0879;    
     box-shadow: 5px 10px rgb(101, 0, 217); 
     margin-top: 25px;
    padding-top:76px;
     animation: mymove1 5s infinite;
}


/* Slides container styles */
.carousel-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    text-align: center;



}

/* Individual slide styles */
.carousel-slide {
    flex: 0 0 100%;
    max-width: 100%;
    border-radius:45px;
    ali
    
}

/* Navigation button styles */
.carousel-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(102, 0, 255, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
hr{
background-color: #011a30;
}
#carousel-Wapper{
height: max-content; 
width: max-content; 
margin-bottom: 20px;
}